<html lang="en" xmlns:th="thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>

<div th:fragment="navigation">
    <h3>Car rental</h3>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/user/all}">Users</a> |
        <a th:href="@{/car/all}">Cars</a> |
        <a th:href="@{/rent/all}">Rents</a> |
        <form method="post" th:action="@{/logout}">
            <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
        </form>
    </div>

    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/car}">Cars</a> |
        <a th:href="@{/rent}">Rents</a> |
        <form method="post" th:action="@{/logout}">
            <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
        </form>
    </div>

    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Log in</a> |
        <a th:href="@{/user}">Register</a>
    </div>

</div>
</body>
</html>
