<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cars page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<p> Hello to Car list page choose your car</p>

<table>
    <thead>
    <td>make</td>
    <td>model</td>
    <td>production year</td>
    <td>daily rate</td>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.make}"></span></td>
        <td><span th:text="${car.model}"></span> </td>
        <td><span th:text="${car.productionYear}"></span></td>
        <td><span th:text="${car.dailyRate}"></span></td>
    </tr>
    </tbody>
</table>

<div sec:authorize="hasRole('ADMIN')">
<a class="btn btn-primary" th:href="@{car/add}" role="button">Add new car</a>
</div>

</body>
</html>